<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/style.css">
    <script type="text/javascript" src="{{STATIC_URL}}scripts/jquery-1.10.1.min.js"></script>
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>
<body>
    <div id="overlay">
        <p>You need Javascript to properly see this website. Please enable it :) <a href="http://www.enable-javascript.com/">Follow these instructions</a> if you need any help to do so.</p>
        <script type="text/javascript">
            $('#overlay').hide();
        </script>
    </div>
    <nav id='menu'>
        <ul>
            <a href="{% url 'blog.views.home' %}"><li class="icon-home"></li></a>
            <a href="{% url 'blog.views.contact' %}"><li class="icon-user"></li></a>
            <!--<a href="{% url 'blog.views.faq' %}"><li>FAQ</li></a>-->
            <a id="django" href="http://www.djangoproject.com/" target="_blank" ><li><span><p>Powered by</p></span><span><p class="icon-django"></p></span></li></a>
        </ul>
    </nav>
    
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        <p>Site created by <a href="mailto:nicolas.brugneaux@gmail.com">Nicolas Brugneaux</a>. March-2013.<p>
    </div>


</body>
</html>