<title>FAQ</title>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/style.css">

{% include 'blog/nav.html' %}

<body>
	<div class="content">

	<h1>Voici la foire aux questions !</h1>
	<!-- start slipsum code -->

	<p>
		The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.
	</p>

	<!-- please do not remove this line -->

	<div style="display:none;">
	<a href="http://slipsum.com">lorem ipsum</a></div>

	<!-- end slipsum code -->

	</div>
</body>