{% extends "blog/base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
<h1>Bienvenue sur mon blog !</h1>
	<section class="ac-container">
		{% for article in derniers_articles %}
		    <div class="article">
		    	{% if article == derniers_articles|first %}
		    		<input id="ac-{{ article.id }}" name="accordion-{{ article.id }}" type="checkbox" checked/>
		    	{% else %}
		    		<input id="ac-{{ article.id }}" name="accordion-{{ article.id }}" type="checkbox" />
		    	{% endif %}
		    	<label for="ac-{{ article.id }}">{{ article.titre }}</label>
		    	<article class="ac-small">
		    		<p>{{ article.contenu|truncatewords_html:15 }}</p>
		        	<p class="article-link"><a href="{% url 'blog.views.read' article.id article.slug %}">Lire la suite</a>
		        </article>
		    </div>
		{% empty %}
		    <p>Aucun article.</p>
		{% endfor %}
	</section>
{% endblock %}

