<title>Blog</title>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/style.css">

{% include 'blog/nav.html' %}

<body>
	<div class="content">
	<h1>Bienvenue sur mon blog !</h1>
		<section class="ac-container">
			{% for article in derniers_articles %}
			    <div class="article">
			    	<input id="ac-{{ article.id }}" name="accordion-{{ article.id }}" type="checkbox" />
			    	<label for="ac-{{ article.id }}">{{ article.titre }}</label>
			    	<article class="ac-small">
			    		<p>{{ article.contenu|truncatewords_html:80 }}</p>
			        	<p class="article-link"><a href="{% url 'blog.views.read' article.id article.slug %}">Lire la suite</a>
			        <article>
			    </div>
			{% empty %}
			    <p>Aucun article.</p>
			{% endfor %}
		</section>
	</div>
</body>

