/*  variables */
/* Resets browser style */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* from icomoon */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-home,
.icon-user,
.icon-django,
.icon-facebook,
.icon-twitter,
.icon-github,
.icon-linkedin {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-home:before {
  content: "\e000";
}
.icon-user:before {
  content: "\e001";
}
.icon-django:before {
  content: "\e002";
}
.icon-facebook:before {
  content: "\e003";
}
.icon-twitter:before {
  content: "\e004";
}
.icon-github:before {
  content: "\e005";
}
.icon-linkedin:before {
  content: "\e006";
}
::-webkit-scrollbar {
  background: #ffffff;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}
body {
  margin: 0;
  background-color: #eeeeee;
  color: #303030;
  font-size: 14px;
  line-height: 28px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
span.small {
  font-style: italic;
  font-size: 14px;
}
p.infos {
  font-style: italic;
  font-size: 11px;
  margin-bottom: 20px;
  margin-top: -20px;
}
a {
  color: #808080;
  text-decoration: none;
}
a:hover {
  color: #1fb3ff;
}
div#content {
  width: 80%;
  background-color: #eeeeee;
  padding-top: 2%;
  margin: auto auto auto 130px;
}
div#content h1 {
  font-size: 30px;
  color: #1fb3ff;
}
div#content h1.article {
  margin-bottom: 50px;
}
div#content h3 {
  font-size: 17px;
  color: #707070;
}
nav {
  width: 100px;
  height: 100%;
  background: #303030;
  border-left: solid 1px #11001005;
  position: fixed;
  z-index: 0;
}
nav li {
  padding-top: 20px;
  font-size: 30;
  height: 40px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  width: 100px;
  background: #303030;
  -webkit-transition: background 0.15s ease-in-out;
}
nav li:hover {
  background-color: #202020;
  color: #1fb3ff;
  cursor: pointer;
  -webkit-transition: background 0;
}
nav #django li {
  position: absolute;
  bottom: 0;
}
nav #django li span:first-child {
  font-size: 10px;
  padding-right: 5px;
  height: 10px;
  line-height: 10px;
  float: right;
}
nav #django li span:last-child {
  font-size: 25px;
  margin-left: 5px;
  float: left;
}
li {
  display: block;
}
#footer {
  float: right;
  font-size: 10px;
  text-align: center;
  bottom: 0px;
  height: 30px;
  width: 100%;
  position: relative;
  margin-top: 50px;
}
.errorlist {
  color: #ff0000;
}
.errorlist li {
  margin: 0;
  font-size: 14px;
  font-weight: bolder;
}
.section-right {
  float: left;
  width: 50%;
}
.section-title {
  width: 33%;
  text-align: left;
  padding-right: 32px;
  margin-top: 100px;
  float: left;
}
.section-title label {
  font-family: 'BebasNeueRegular', 'Arial Bold', Arial, sans-serif;
  padding: 5px 20px;
  position: relative;
  margin-top: 5px;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: #777;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  line-height: 33px;
  font-size: 19px;
  background: -moz-linear-gradient(top, #dddddd 1%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #dddddd), color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(top, #dddddd 1%, #eaeaea 100%);
  background: -o-linear-gradient(top, #dddddd 1%, #eaeaea 100%);
  background: -ms-linear-gradient(top, #dddddd 1%, #eaeaea 100%);
  background: linear-gradient(top, #dddddd 1%, #eaeaea 100%);
  background: #ddd;
  /* Old browsers */

  background: -moz-linear-gradient(top, #dddddd 1%, #dddddd 1%, #eaeaea 100%, #eaeaea 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(1%, #dddddd), color-stop(100%, #eaeaea), color-stop(100%, #eaeaea));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #dddddd 1%, #dddddd 1%, #eaeaea 100%, #eaeaea 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #dddddd 1%, #dddddd 1%, #eaeaea 100%, #eaeaea 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #dddddd 1%, #dddddd 1%, #eaeaea 100%, #eaeaea 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #dddddd 1%, #dddddd 1%, #eaeaea 100%, #eaeaea 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#eaeaea', GradientType=0);
  /* IE6-9 */

  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.section-title label:hover {
  background: #ffffff;
}
.section-title input:checked + label,
.section-title input:checked + label:hover {
  background: #303030;
  color: #ffffff;
  text-shadow: none;
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.section-title label:hover:after,
.section-title input:checked + label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(../images/arrow_down.png) no-repeat center center;
}
.section-title input:checked + label:hover:after {
  background-image: url(../images/arrow_up.png);
}
.section-title input {
  display: none;
}
.section-title article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -6px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.section-title article p {
  font-style: italic;
  color: #777;
  line-height: 23px;
  font-size: 14px;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
.section-title article p.article-link {
  font-style: bold;
  color: #777;
  line-height: 23px;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  width: 100%;
  background: #ddd;
  border-top: solid 1px #e0e0e0;
  padding-top: 5px;
  padding-bottom: 12px;
  margin-top: 16px;
  margin-bottom: 0px;
}
.section-title input:checked ~ article {
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3);
}
.section-title input:checked ~ article.ac-small {
  height: 140px;
}
.section-title input:checked ~ article.ac-medium {
  height: 180px;
}
.section-title input:checked ~ article.ac-large {
  height: 230px;
}
.section-right {
  width: 60%;
}
.section-comments .form_comment {
  color: #ffffff;
}
.section-comments .form_comment legend {
  display: none;
}
.section-comments .form_comment fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 3px solid #303030;
  background: #303030;
  padding-bottom: 1em;
}
.section-comments .form_comment p {
  margin: 1%;
}
.section-comments .form_comment label {
  display: block;
}
.section-comments .form_comment input,
.section-comments .form_comment textarea {
  width: 80%;
  border: 1px solid #111;
  background: #ffffff;
  padding: 5px 3px;
  color: #303030;
}
.section-comments .form_comment textarea {
  height: 125px;
  overflow: auto;
}
.section-comments .form_comment p.submit {
  text-align: right;
}
.section-comments .form_comment .checkbutton {
  margin: 0;
  display: inline;
}
.section-comments h3 {
  margin-top: 40px;
  background-color: #eeeeee;
  padding-left: 20px;
  margin-bottom: 10px;
}
.section-comments p {
  text-align: justify;
  padding-left: 20px;
  margin-top: 30px;
}
.section-comments li {
  border-bottom: 1px solid #DDD;
}
.section-comments .comments_content {
  text-align: justify;
  padding-left: 20px;
}
.section-comments button {
  margin-left: 60%;
  margin-bottom: 10px;
}
.section-content p {
  padding: 20px;
}
.section-right {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  text-align: justify;
  border: 3px solid #303030;
}
.section-right:after,
.section-right:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.section-right:after {
  border-color: rgba(196, 196, 196, 0);
  border-right-color: #ffffff;
  border-width: 30px;
  top: 20%;
  margin-top: -30px;
}
.section-right:before {
  border-color: rgba(74, 74, 74, 0);
  border-right-color: #303030;
  border-width: 34px;
  top: 20%;
  margin-top: -34px;
}
#myForm {
  margin: 1em 0;
  color: #ffffff;
  width: 400px;
  /* customize width, this form have fluid layout */

}
#myForm legend,
#myForm .form_comment legend {
  display: none;
}
#myForm fieldset,
#myForm .form_comment fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 3px solid #303030;
  background: #303030;
  padding-bottom: 1em;
}
#myForm .form_comment p {
  margin: 1%;
}
#myForm p {
  margin: .5em 20px;
}
#myForm label,
#myForm .form_comment label {
  display: block;
}
#myForm input,
#myForm textarea,
#myForm .form_comment input,
#myForm .form_comment textarea {
  width: 80%;
  border: 1px solid #111;
  background: #ffffff;
  padding: 5px 3px;
  color: #303030;
}
#myForm textarea,
#myForm .form_comment textarea {
  height: 125px;
  overflow: auto;
}
#myForm p.submit,
#myForm .form_comment p.submit {
  text-align: right;
}
#myForm .checkbutton,
#myForm .form_comment .checkbutton {
  margin: 0;
  display: inline;
}
button {
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #1fb3ff;
  background: #1fb3ff url(../images/form_button.gif) repeat-x;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}
div#overlay {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-size: 100%;
  padding-left: 130px;
  background: #ff6666;
  border-bottom: solid 1px #ff0000;
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  margin: 0;
}
div#overlay a {
  color: #ffffff;
}
div#overlay a:hover {
  color: #ffffff;
  text-decoration: underline;
}
@font-face {
  font-family: 'icomoon';
  src: url('./fonts/icomoon.eot');
  src: url('./fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('./fonts/icomoon.woff') format('woff'), url('./fonts/icomoon.ttf') format('truetype'), url('./fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
