::-webkit-scrollbar {
    background: #fff;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}
body{
    margin:0;
    background-color: #EEE;
    color: #303030;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
span.small{
    font-style: italic;
    font-size:14px;
}
p.infos{
    font-style: italic;
    font-size:11px;
    margin-bottom:20px;
    margin-top:-20px;
}
a:hover {
    color: #1fb3ff;
}
a {
    color: #808080;
    text-decoration: none;
}
div#content{
    width: 80%;
    background-color: #EEE;
    padding-top: 2%;
    margin: auto auto auto 130px;
}
div#content h1{

    font-size: 30px;
    color: #1fb3ff;
    height: 100px;
}
div#content h3{

    font-size: 17px;
    color: #707070;
}
nav{
    width: 100px;
    height: 100%;
    background: #303030;
    border-left: solid 1px #151515;
    position: fixed;
}

nav li{
    font-size: 30;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    width: 100px;
    background: #303030;
    -webkit-transition: background .15s ease-in-out;
}
nav li:hover{
    background-color:#202020;
    cursor:pointer;
    -webkit-transition: background 0;
}
li{
    display:block;
}

#footer
{
    font-size: 10px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    height: 30px;
    width: 100%;
}
.errorlist{
    color: #F00;
}
.errorlist li{
    margin:0;
    font-size: 14px;
    font-weight: bolder;
}
.section-title{
    width: 33%;
    text-align: left;
}
.section-title label{
    font-family: 'BebasNeueRegular', 'Arial Bold', Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    margin-top:5px;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    background: #ddd;
    background: -moz-linear-gradient(top, #ddd 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ddd), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ddd 1%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ddd 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ddd 1%,#eaeaea 100%);
    background: linear-gradient(top, #ddd 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddd', endColorstr='#eaeaea',GradientType=0 );
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
        0px 2px 2px rgba(0,0,0,0.1);
}
.section-title label:hover{
    background: #fff;
}
.section-title input:checked + label,
.section-title input:checked + label:hover{
    background: #303030;
    color: #fff;
    text-shadow: none;
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        0px 2px 2px rgba(0,0,0,0.1);
}
.section-title label:hover:after,
.section-title input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../images/arrow_down.png) no-repeat center center;  
}
.section-title input:checked + label:hover:after{
    background-image: url(../images/arrow_up.png);
}
.section-title input{
    display: none;
}
.section-title article{
    background: rgba(255, 255, 255, 0.5);
    margin-top: -6px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.section-title article p{
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.section-title article p.article-link{
    font-style: bold;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    width: 100%;
    background: #ddd;
    border-top: solid 1px #e0e0e0;
    padding-top: 5px;
    padding-bottom:12px;
    margin-top:43px;
    margin-bottom:0px;
}
.section-title input:checked ~ article{
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.section-title input:checked ~ article.ac-small{
    height: 140px;
}
.section-title input:checked ~ article.ac-medium{
    height: 180px;
}
.section-title input:checked ~ article.ac-large{
    height: 230px;
}

#myForm{
    margin:1em 0;
    color:#fff;
    width:320px; /* customize width, this form have fluid layout */
    }
#myForm legend{display:none;}    
#myForm fieldset{
    margin:0;
    padding:0;
    border:none;    
    border-top:3px solid #303030;
    background:#303030;     
    padding-bottom:1em;
    }          
#myForm p{margin:.5em 20px;} 
#myForm label{display:block;}    
#myForm input, #myForm textarea{      
    width:272px;
    border:1px solid #111;
    background:#fff;
    padding:5px 3px;
    color:#303030;
    }       
#myForm textarea{
    height:125px;
    overflow:auto;
    }                   
#myForm p.submit{
    text-align:right;
    }   
#myForm .checkbutton{
    margin:0;
    display:inline;
}
#myForm button{
    padding:0 20px;
    height:32px;
    line-height:32px;       
    border:1px solid #1fb3ff;
    background:#1fb3ff url(../images/form_button.gif) repeat-x;
    color:#fff;
    cursor:pointer;     
    text-align:center;      
    }

.section-content{
    width:40%;
    text-align:justify;
    border:1px solid #303030;
}
.section-content p{
    padding:20px;
}
.section-comments{
    text-align:justify;
    padding:20px;
    border:1px solid #303030;
}
.3cols {
}